/* CSS files add styling rules to your content */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
    font-size: 18px;
    background-image: url(imagens/fundo.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
  
  }
  
  h1 {
    font-style: normal;
    color: #63b4bc;
    font-weight: 800;
  }
  
  .conteudo {
    padding-top: 20px;
    background-color: transparent;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 25vh;
    padding-bottom: 20px;
    
  
  }
  
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
  }
  
  li {
    padding: 20px;
  }
  
  #listaRespostas {
    display: none;
    color: #ffffff;
  }
  #listaRespostas span{
  	margin-left: 20px; 
  }
  #resultado{
  	color: #ffffff;
  	font-style: normal;
  	font-weight: 800;
    margin-bottom: 20px; 
  }
  
  button {
    border: 0;
    background-color: white;
    color: #6650aa;

    padding: 10px 20px 10px;
    font-size: 18pt;
  }
  
  button:hover {
    background-color: #63b4bc;
   	cursor: pointer;

  }